body {
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.initial {
    margin: auto;
    height: 50%;
    width: 100%;
    margin-top: 10%;
    font-size: xx-large;
    display: inline-flex;
    justify-content: center;
}

div.initial > div {
    width: 70px;
    height: 100px;
    margin: 20px;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.scale {
    position: relative;
    display: inline-block;
    margin-top: 10%;
    height: 120px;
    width: 875px;
    background: url("sprite.png");
    background-position: bottom center;
    background-repeat: no-repeat;
}

div.initial div {
    width: 70px;
    height: 100px;
    margin: 20px;
}

.wrong-answer {
    background: #ffc511;
    border-radius: 7px;
}

.wrong-introduced-answer {
    color: red;
}

.symbol {
    position: relative;
    top: 35px;
}

input {
    text-align: center;
}

input.summ {
    width: 70px;
    height: 100px;
    margin: 20px;
    font-size: xx-large;
    border: 1px solid transparent;
}

.summ.hidden {
    border-radius: 4px;
    background: url(question.png);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

input.answer {
    position: absolute;
    top: -50px;
    left: 0;
    width: 30px;
    height: 20px;
    border: none;
    border-radius: 5px;
    font-size: large;
    margin-left: -16px;
}

canvas {
    height: 60px;
    width: 100%;
}
